pytest==6.2.4
twine==3.4.1
tox==3.23.1
pytest-cov==2.12.1
pylint==2.8.3
black==21.6b0
Sphinx==4.0.2
antlr4-python3-runtime==4.9.2
multipledispatch==0.6.0
bandit==1.7.0
flake8==3.9.2
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
